#! /bin/sh
# Set up the initial YDB admin password.

set +e
set +u

DB_ENDPOINT=grpcs://"$1":2135
DB_DOMAIN=/Root
CAFILE={{ ydbd_dir }}/certs/ca.crt
PASSFILE={{ ydbd_dir }}/certs/secret
PARAMFILE={{ ydbd_dir }}/certs/secret.json

LD_LIBRARY_PATH={{ ydbd_dir }}/lib
export LD_LIBRARY_PATH

PATH={{ ydbd_dir }}/bin:$PATH
export PATH

set -e
set -u

source ${PASSFILE}
YDB_PASSWORD_JSON=`echo -n ${YDB_PASSWORD} | jq -R -s '.'`
echo '{"password": '${YDB_PASSWORD}'}' >${PARAMFILE}
trap "rm -f ${PARAMFILE}" EXIT

ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} --user root --no-password \
  yql --param-file ${PARAMFILE} -s 'DECLARE $password AS Utf8; ALTER USER root PASSWORD $password;'

# End Of File