#! /bin/sh

set +e
set +u

DB_ENDPOINT=grpcs://"$1":2135
DB_DOMAIN=/Root
CAFILE={{ ydbd_dir }}/certs/ca.crt

LD_LIBRARY_PATH={{ ydbd_dir }}/lib
export LD_LIBRARY_PATH

PATH={{ ydbd_dir }}/bin:$PATH
export PATH

COUNTER=0
while true; do
    ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} --user root --no-password discovery list  >/dev/null 2>&1
    RESULT=$?
    if [ $RESULT -eq 0 ]; then
        exit 0
    fi
    COUNTER=$((COUNTER + 1))
    if [ $COUNTER -gt 60 ]; then
        ydb --ca-file ${CAFILE} -e ${DB_ENDPOINT} -d ${DB_DOMAIN} --user root --no-password discovery list >&2
        RESULT=$?
        if [ $RESULT -eq 0 ]; then
            exit 0
        fi
        echo "ERROR: storage node did not appear in the defined interval" >&2
        exit 1
    fi
    sleep 3
done

# End Of File
