# Configuration settings for all YDB cluster nodes

ansible_python_interpreter: /usr/bin/python3

# libidn compiled code.
# Required for RHEL 8, RHEL 9 and similar (AlmaLinux, etc)
# libidn_archive: libidn.tar.gz

# YDB cluster domain (aka cluster identifier), Root in the documentation
ydb_domain: ycydb00

# YDB software installation directory
ydbd_dir: /opt/ydb

# Source directory with TLS keys and certificares
ydbd_tls_dir: ../tls/CA/certs/2023-03-09_16-49-39

# YDB server software archive
ydbd_archive: ydbd-22.5.10-linux-amd64.tar.gz

# Extra options passed to tar for unpack, typically "--strip-component=1"
ydbd_unpack_options: "--strip-component=1"

# YDB default storage pool kind, as specified in the static nodes
#   configuration file as storage_pool_types.kind field
ydb_pool_kind: ssd

# Database name for the dynamic nodes
ydb_dbname: testdb

# Default number of groups per newly created database
ydb_default_groups: 9

# Name of YDB static nodes configuration file
ydbd_config_static: config-static.yaml

# Dynamic nodes configuration file
ydbd_config_dynamic: config-dynamic.yaml

# YDB physical disk device names and labels for static nodes
ydbd_disks:
    - name: /dev/vdb
      label: ydb_disk_1
# Configuration settings for dynamic YDB cluster nodes

# The list of exactly three node brokers (static nodes)
ydbd_brokers:
  - ycydb-s1
  - ycydb-s2
  - ycydb-s3

# The list of dynnodes to run on each host
ydbd_dynnodes:
  - { instance: 'alfa', offset: 0 }
  - { instance: 'bravo', offset: 1 }
  - { instance: 'charlie', offset: 2 }
  - { instance: 'delta', offset: 3 }

# Extra sleep time to allow dynamic nodes to settle up
dynnode_restart_sleep_seconds: 30
