# Configuration settings for dynamic YDB cluster nodes

# The list of exactly three node brokers (static nodes)
ydbd_brokers:
  - ycydb-s1
  - ycydb-s2
  - ycydb-s3

# Database name for the dynamic nodes
ydb_dbname: testdb

# The list of dynnodes to run on each host
ydbd_dynnodes:
  - { instance: 'alfa', offset: 0 }
  - { instance: 'bravo', offset: 1 }
  - { instance: 'charlie', offset: 2 }
  - { instance: 'delta', offset: 3 }

# Extra sleep time to allow dynamic nodes to settle up
dynnode_restart_sleep_seconds: 30

# Dynamic nodes configuration file
ydbd_config_dynamic: config-dynamic.yaml
